.mdlwp-navigation-container {
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.mdlwp-search-box {
  order: 2;
  margin-left: 16px;
  margin-right: 16px;

  .mdl-textfield__input {
    border-bottom: 1px solid #fff;
  }

  &.is-focused ~ .mdlwp-navigation-container {
    opacity: 0;
    width: 100px;
  }
}

.current-menu-item, .is-active {
    border-bottom: 1px solid rgba(0,0,0,.5);
    background: rgba(0,0,0,.1);
}
.mdl-navigation__link {
    font-weight: 400;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    
    &:hover { 
            font-weight:500;
            border-bottom: 3px solid rgba(0,0,0,1);
            box-shadow: 4px;
        }
}